@model IEnumerable<ProyectoDAW_hemeroteca_MDK.Models.Proyecto>
@*@model Paginacion<ProyectoDAW_hemeroteca_MDK.Models.Proyecto>*@


@{
    ViewData["Title"] = "Index";
}
<br /><br />
<center><h1>LISTADO DE PROYECTOS</h1></center>
<br />
<br />
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="BUSCAR" class="btn btn-outline-primary" />
            <a asp-action="Index">Todos los registros</a>|Registros mostrados @*@Model.TotalR*@
            Total de registros: @ViewData["UserCount"]
        </p>
    </div>
</form>
<div class="table-responsive-md">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTipoProyecto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAutor)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AñoSortParam"]" style="color:white">
                        @Html.DisplayNameFor(model => model.Año)
                        
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TituloSortParam"]" style="color:white"> 
                        @Html.DisplayNameFor(model => model.Titulo)
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTipoProyecto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAutor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Año)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td style="padding:20px">
                        <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@item.IdProyecto" role="button">EDITAR</a> 
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdProyecto" role="button">DETALLES</a> 
                        <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.IdProyecto" role="button">BORRAR</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />
<a class="btn btn-outline-primary" asp-action="Create" role="button">NUEVO</a>